*{
	padding: 0;
	margin: 0;
}

.container{
	padding: 2% 3%;
}

.btnModal{
	padding: 15px 20px;
	background: #25571e;
	border-style: none;
	color: #fff;
	border-radius: 7px;
	&:hover{
		background: #37682d;
	}
}

.formulario {
  background-color: #efefef;
  padding: 32px;
  border-radius: 20px;
}
// start imagen
input[type="file"] {

  padding: 4px;
  margin: -4px;
  position: absolute;
  outline: none;
  color: #fff;
  overflow: hidden;
  /* File Selector Button Styles */
  &::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: #249;
    border: 1px solid rgba(#000, 0.16);
    box-shadow: 0px 1px 0px rgba(#000, 0.05);
    margin-right: 16px;
    width: 200px;
    color: transparent;
    @supports (-moz-appearance: none) {
      color: var(--primary-color);
    }

    &:hover {
      background-color: #235;
    }

    &:active {
      background-color: #e5e7eb;
    }
  }

  /* Faked label styles and icon */
  &::before {
    position: absolute;
    pointer-events: none;
    top: 14px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  &::after {
    position: absolute;
    pointer-events: none;
    top: 16px;
    left: 40px;
    color: var(--primary-color);
    content: "Seleccione Una Imagen";
  }

  /* Handle Component Focus */
  &:focus-within::file-selector-button,
  &:focus::file-selector-button {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
}
// end imagen
// star navbar
nav{
	background: #19191a;
	ul{
		display: flex;
		gap: 15px;
		padding: 15px 30px;
		li{
			list-style: none;
			padding: 0;
			a{
				color: #fff;
				text-decoration: none;
				&::after{
					content: "";
					display: block;
	        height: 2px;
	        width: 0;
	        background: transparent;
	        transition: all 0.75s ease;
	        margin-top: 0.25rem;
				}

				&:hover::after{
					width: 100%;
					background: #fff;
				}
			}
		}
	}
}
// end navbar
// 
.preview {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}