*{
	padding: 0;
	margin: 0;
}

.container{
  height: 84vh;
	padding: 2% 3%;
  background-image: radial-gradient(circle at 74.18% 116.45%, #e2ffce 0, #d0ffd1 10%, #beffd3 20%, #adffd3 30%, #9df8d1 40%, #8fe8cc 50%, #84d8c6 60%, #7bcabf 70%, #75beba 80%, #71b4b5 90%, #6facb1 100%);
}

.btnModal{
  width: 100%;
	padding: 15px 20px;
  margin-top: 10px; 
	background: #25571e;
	border-style: none;
	color: #fff;
	border-radius: 7px;
	&:hover{
		background: #37682d;
	}
}

form {
  margin: auto;
  font-family: Vegur, 'PT Sans', Verdana, sans-serif;
  width: 80%;
  padding: 30px 35px;
  .formulario{
    display: grid;
    grid-template:{
      columns: 78% 22%;
      rows: 10% 90%;
    }
    gap: 15px;
    h2{
      text-align: center;
      grid-area: 1 / 1 / 2 /3;
    }
    .form{
      display: flex;
      flex-direction: column;
      .inputform{
        margin: 7px;
        .nombretext{
          font-size: 20px;
          margin-top: 10px;
          width: 100%;
          border-style: none;
          padding: 5px 0px 5px 0px; 
          outline: none;
        }
        .contenttext{
          font-size: 20px;
          margin-top: 9px;
          width: 100%;
          border-style: none;
          outline: none;
        }
      }
    }
  }
}

// start imagen
input[type="file"] {
  padding: 4px;
  margin: -4px;
  position: absolute;
  outline: none;
  color: #fff;
  overflow: hidden;
  /* File Selector Button Styles */
  &::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: #249;
    border: 1px solid rgba(#000, 0.16);
    box-shadow: 0px 1px 0px rgba(#000, 0.05);
    margin-right: 16px;
    width: 200px;
    color: transparent;
    @supports (-moz-appearance: none) {
      color: var(--primary-color);
    }

    &:hover {
      background-color: #235;
    }

    &:active {
      background-color: #e5e7eb;
    }
  }

  /* Faked label styles and icon */
  &::before {
    color: #fff;
    position: absolute;
    pointer-events: none;
    top: 14px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  &::after {
    position: absolute;
    pointer-events: none;
    top: 16px;
    left: 40px;
    color: var(--primary-color);
    content: "Seleccione Una Imagen";
  }

  /* Handle Component Focus */
  &:focus-within::file-selector-button,
  &:focus::file-selector-button {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
}

// 
.preview {
  background-color: #789;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
  img{
    width: 100%;
    height: 100%;
  }
}
// end imagen
// start home
.galeria{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  .imagen{
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      &:hover ~ .content{
        transition: all 0.6s ease-in-out;
        animation: none;
        position: absolute;
        bottom: 0px;
      }
    }
    .content{
      width: 85%;
      height: 85%;
      color: #fff;
      background-color: rgba(0,0,0,0.7);
      margin: 8% 7%;
      position: relative;
      bottom: -100%;
      border-radius: 10px;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        margin: 10px 0px 5px 0px;
      }
      .btnInfo{
        color: #fff;
        padding: 7px 15px;
        margin-top: 15px;
        background: #0077b6;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
// end home
// star navbar
nav{
	background: #19191a;
	ul{
		display: flex;
		gap: 15px;
		padding: 15px 30px;
		li{
			list-style: none;
			padding: 0;
			a{
				color: #fff;
				text-decoration: none;
				&::after{
					content: "";
					display: block;
	        height: 2px;
	        width: 0;
	        background: transparent;
	        transition: all 0.75s ease;
	        margin-top: 0.25rem;
				}

				&:hover::after{
					width: 100%;
					background: #fff;
				}
			}
		}
	}
}
// end navbar
